<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hashesandhashes/src/hashesandhashes/main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hashesandhashes.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${current_date} &quot;hCXWbz2YQA67MiplTNgT&quot; &quot;C:\Transfer\test\some.out&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hashesandhashes"/>
</launchConfiguration>
